--
-- PostgreSQL database dump
--

-- Dumped from database version 14.4
-- Dumped by pg_dump version 14.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: person_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.person_role AS ENUM (
    'PATIENT',
    'PSYCHIATRIST',
    'BOARD MEMBER'
);


ALTER TYPE public.person_role OWNER TO postgres;

--
-- Name: employee_insert_trigger_fnc(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.employee_insert_trigger_fnc() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
        arg INT;
BEGIN
    FOREACH arg IN ARRAY TG_ARGV LOOP
    NEW.score = (SELECT sum(o.score)
        FROM test_results INNER JOIN answer a on test_results.test_result_id = a.test_result_id
        INNER JOIN options o on a.option_id = o.option_id
        WHERE a.test_result_id = NEW.test_result_id
        GROUP BY test_results.test_result_id);
    UPDATE test_results
        SET score = NEW.score
        WHERE test_result_id = NEW.test_result_id;
    END LOOP;
RETURN NEW;
END;
$$;


ALTER FUNCTION public.employee_insert_trigger_fnc() OWNER TO postgres;

--
-- Name: myrule(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.myrule() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
   BEGIN
    NEW.score := (SELECT sum(o.score)
        FROM test_results INNER JOIN answer a on test_results.test_result_id = a.test_result_id
        INNER JOIN options o on a.option_id = o.option_id
        WHERE a.test_result_id = OLD.test_result_id);
    RETURN NEW;
  END;
$$;


ALTER FUNCTION public.myrule() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Consultation_request; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Consultation_request" (
    consultation_request_id integer NOT NULL,
    counsel_id integer NOT NULL,
    test_result_id integer NOT NULL,
    info character varying(256),
    approved boolean,
    schedule character varying(256),
    method character varying(64),
    fee integer
);


ALTER TABLE public."Consultation_request" OWNER TO postgres;

--
-- Name: Consultation_request_consultation_request_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Consultation_request_consultation_request_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Consultation_request_consultation_request_id_seq" OWNER TO postgres;

--
-- Name: Consultation_request_consultation_request_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Consultation_request_consultation_request_id_seq" OWNED BY public."Consultation_request".consultation_request_id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: answer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.answer (
    test_result_id integer NOT NULL,
    option_id integer NOT NULL
);


ALTER TABLE public.answer OWNER TO postgres;

--
-- Name: awards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.awards (
    award_id integer NOT NULL,
    name character varying(64),
    host character varying(256)
);


ALTER TABLE public.awards OWNER TO postgres;

--
-- Name: awards_award_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.awards_award_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.awards_award_id_seq OWNER TO postgres;

--
-- Name: awards_award_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.awards_award_id_seq OWNED BY public.awards.award_id;


--
-- Name: consultation_request; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consultation_request (
    test_result_id integer NOT NULL,
    approved boolean,
    fee integer,
    counsel_id integer NOT NULL,
    info character varying(256),
    schedule character varying(256),
    method character varying(64),
    consultation_request_id bigint NOT NULL
);


ALTER TABLE public.consultation_request OWNER TO postgres;

--
-- Name: consultation_request_consultation_request_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.consultation_request_consultation_request_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.consultation_request_consultation_request_id_seq OWNER TO postgres;

--
-- Name: consultation_request_consultation_request_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.consultation_request_consultation_request_id_seq OWNED BY public.consultation_request.consultation_request_id;


--
-- Name: counselling_suggestion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.counselling_suggestion (
    test_result_id integer NOT NULL,
    psychiatrist_id integer NOT NULL,
    counsel_id bigint NOT NULL
);


ALTER TABLE public.counselling_suggestion OWNER TO postgres;

--
-- Name: counselling_suggestion_counsel_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.counselling_suggestion_counsel_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.counselling_suggestion_counsel_id_seq OWNER TO postgres;

--
-- Name: counselling_suggestion_counsel_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.counselling_suggestion_counsel_id_seq OWNED BY public.counselling_suggestion.counsel_id;


--
-- Name: degrees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.degrees (
    degree_id integer NOT NULL,
    name character varying(64),
    institution character varying(256)
);


ALTER TABLE public.degrees OWNER TO postgres;

--
-- Name: degrees_degree_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.degrees_degree_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.degrees_degree_id_seq OWNER TO postgres;

--
-- Name: degrees_degree_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.degrees_degree_id_seq OWNED BY public.degrees.degree_id;


--
-- Name: diseases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.diseases (
    disease_id integer NOT NULL,
    name character varying(64) NOT NULL,
    description character varying(256)
);


ALTER TABLE public.diseases OWNER TO postgres;

--
-- Name: diseases_disease_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.diseases_disease_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.diseases_disease_id_seq OWNER TO postgres;

--
-- Name: diseases_disease_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.diseases_disease_id_seq OWNED BY public.diseases.disease_id;


--
-- Name: file_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.file_requests (
    file_request_id integer NOT NULL,
    created_at timestamp without time zone NOT NULL,
    title character varying(128) NOT NULL,
    description text,
    is_verified boolean,
    psychiatrist_id integer NOT NULL
);


ALTER TABLE public.file_requests OWNER TO postgres;

--
-- Name: file_requests_file_request_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.file_requests_file_request_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.file_requests_file_request_id_seq OWNER TO postgres;

--
-- Name: file_requests_file_request_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.file_requests_file_request_id_seq OWNED BY public.file_requests.file_request_id;


--
-- Name: file_uploads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.file_uploads (
    file_upload_id integer NOT NULL,
    file_request_id integer NOT NULL,
    file_path character varying(256) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    uploader_id integer NOT NULL,
    uploader_comment text
);


ALTER TABLE public.file_uploads OWNER TO postgres;

--
-- Name: file_uploads_file_upload_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.file_uploads_file_upload_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.file_uploads_file_upload_id_seq OWNER TO postgres;

--
-- Name: file_uploads_file_upload_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.file_uploads_file_upload_id_seq OWNED BY public.file_uploads.file_upload_id;


--
-- Name: options; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.options (
    option_id integer NOT NULL,
    option_text character varying(256),
    score integer,
    question_id integer
);


ALTER TABLE public.options OWNER TO postgres;

--
-- Name: options_option_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.options_option_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.options_option_id_seq OWNER TO postgres;

--
-- Name: options_option_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.options_option_id_seq OWNED BY public.options.option_id;


--
-- Name: patients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.patients (
    height_inches integer,
    weight_kgs integer,
    location character varying,
    patient_id integer NOT NULL
);


ALTER TABLE public.patients OWNER TO postgres;

--
-- Name: persons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.persons (
    person_id integer NOT NULL,
    name character varying(64),
    email character varying(64),
    password_hash character varying(256),
    date_of_birth timestamp without time zone,
    gender character varying(1),
    photo_path character varying(128),
    cellphone character varying(12),
    role character varying(12)
);


ALTER TABLE public.persons OWNER TO postgres;

--
-- Name: persons_person_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.persons_person_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.persons_person_id_seq OWNER TO postgres;

--
-- Name: persons_person_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.persons_person_id_seq OWNED BY public.persons.person_id;


--
-- Name: psychiatrist_award; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.psychiatrist_award (
    psychiatrist_id integer NOT NULL,
    award_id integer NOT NULL
);


ALTER TABLE public.psychiatrist_award OWNER TO postgres;

--
-- Name: psychiatrist_degree; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.psychiatrist_degree (
    psychiatrist_id integer NOT NULL,
    degree_id integer NOT NULL
);


ALTER TABLE public.psychiatrist_degree OWNER TO postgres;

--
-- Name: psychiatrist_disease; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.psychiatrist_disease (
    psychiatrist_id integer NOT NULL,
    disease_id integer NOT NULL
);


ALTER TABLE public.psychiatrist_disease OWNER TO postgres;

--
-- Name: psychiatrists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.psychiatrists (
    psychiatrist_id integer NOT NULL,
    is_verified boolean,
    available_times character varying(256),
    certificate_id character varying(32),
    fee integer
);


ALTER TABLE public.psychiatrists OWNER TO postgres;

--
-- Name: questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.questions (
    question_id integer NOT NULL,
    question_text character varying(256),
    created_at timestamp without time zone,
    is_approved boolean
);


ALTER TABLE public.questions OWNER TO postgres;

--
-- Name: questions_question_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.questions_question_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.questions_question_id_seq OWNER TO postgres;

--
-- Name: questions_question_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.questions_question_id_seq OWNED BY public.questions.question_id;


--
-- Name: review_board_member; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.review_board_member (
    board_member_id integer NOT NULL,
    joined_as_board_member date
);


ALTER TABLE public.review_board_member OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(64)
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: test_question; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.test_question (
    test_id integer NOT NULL,
    question_id integer NOT NULL,
    is_approved boolean,
    pending_delete boolean DEFAULT false NOT NULL
);


ALTER TABLE public.test_question OWNER TO postgres;

--
-- Name: test_result_disease; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.test_result_disease (
    test_result_id integer NOT NULL,
    disease_id integer NOT NULL
);


ALTER TABLE public.test_result_disease OWNER TO postgres;

--
-- Name: test_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.test_results (
    test_result_id integer NOT NULL,
    test_id integer NOT NULL,
    patient_id integer NOT NULL,
    submitted_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    verifier_id integer,
    verified_at timestamp without time zone,
    machine_report character varying(256),
    manual_report character varying(256),
    score integer DEFAULT 0
);


ALTER TABLE public.test_results OWNER TO postgres;

--
-- Name: test_results_test_result_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.test_results_test_result_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.test_results_test_result_id_seq OWNER TO postgres;

--
-- Name: test_results_test_result_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.test_results_test_result_id_seq OWNED BY public.test_results.test_result_id;


--
-- Name: tests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tests (
    test_id integer NOT NULL,
    name character varying(64) NOT NULL,
    description character varying(256),
    created_at timestamp without time zone NOT NULL,
    is_approved boolean,
    psychiatrist_id_of_added_by integer
);


ALTER TABLE public.tests OWNER TO postgres;

--
-- Name: tests_test_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tests_test_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tests_test_id_seq OWNER TO postgres;

--
-- Name: tests_test_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tests_test_id_seq OWNED BY public.tests.test_id;


--
-- Name: Consultation_request consultation_request_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Consultation_request" ALTER COLUMN consultation_request_id SET DEFAULT nextval('public."Consultation_request_consultation_request_id_seq"'::regclass);


--
-- Name: awards award_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.awards ALTER COLUMN award_id SET DEFAULT nextval('public.awards_award_id_seq'::regclass);


--
-- Name: consultation_request consultation_request_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultation_request ALTER COLUMN consultation_request_id SET DEFAULT nextval('public.consultation_request_consultation_request_id_seq'::regclass);


--
-- Name: counselling_suggestion counsel_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.counselling_suggestion ALTER COLUMN counsel_id SET DEFAULT nextval('public.counselling_suggestion_counsel_id_seq'::regclass);


--
-- Name: degrees degree_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.degrees ALTER COLUMN degree_id SET DEFAULT nextval('public.degrees_degree_id_seq'::regclass);


--
-- Name: diseases disease_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diseases ALTER COLUMN disease_id SET DEFAULT nextval('public.diseases_disease_id_seq'::regclass);


--
-- Name: file_requests file_request_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_requests ALTER COLUMN file_request_id SET DEFAULT nextval('public.file_requests_file_request_id_seq'::regclass);


--
-- Name: file_uploads file_upload_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_uploads ALTER COLUMN file_upload_id SET DEFAULT nextval('public.file_uploads_file_upload_id_seq'::regclass);


--
-- Name: options option_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.options ALTER COLUMN option_id SET DEFAULT nextval('public.options_option_id_seq'::regclass);


--
-- Name: persons person_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.persons ALTER COLUMN person_id SET DEFAULT nextval('public.persons_person_id_seq'::regclass);


--
-- Name: questions question_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions ALTER COLUMN question_id SET DEFAULT nextval('public.questions_question_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: test_results test_result_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_results ALTER COLUMN test_result_id SET DEFAULT nextval('public.test_results_test_result_id_seq'::regclass);


--
-- Name: tests test_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tests ALTER COLUMN test_id SET DEFAULT nextval('public.tests_test_id_seq'::regclass);


--
-- Data for Name: Consultation_request; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Consultation_request" (consultation_request_id, counsel_id, test_result_id, info, approved, schedule, method, fee) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
d53109438b4d
\.


--
-- Data for Name: answer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: awards; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.awards (award_id, name, host) FROM stdin;
\.


--
-- Data for Name: consultation_request; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.consultation_request (test_result_id, approved, fee, counsel_id, info, schedule, method, consultation_request_id) FROM stdin;
81	f	5000	1	Hello World	Majh Rate	Video Call	1
81	f	5000	1	Hello World	Majh Rate	Video Call	2
75	t	5000	2	Hello World	Majh Rate	Video Call	3
\.


--
-- Data for Name: counselling_suggestion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.counselling_suggestion (test_result_id, psychiatrist_id, counsel_id) FROM stdin;
75	1705045	1
75	1705044	2
\.


--
-- Data for Name: degrees; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.degrees (degree_id, name, institution) FROM stdin;
\.


--
-- Data for Name: diseases; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.diseases (disease_id, name, description) FROM stdin;
1	Depression	\N
2	Mania	\N
3	Somatic Symptoms	\N
4	ADHD	\N
5	PTSD	\N
\.


--
-- Data for Name: file_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.file_requests (file_request_id, created_at, title, description, is_verified, psychiatrist_id) FROM stdin;
\.


--
-- Data for Name: file_uploads; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.file_uploads (file_upload_id, file_request_id, file_path, created_at, uploader_id, uploader_comment) FROM stdin;
\.


--
-- Data for Name: options; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: patients; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.patients (height_inches, weight_kgs, location, patient_id) FROM stdin;
65	85	Demra	1705002
68	75	Chef's Table	1705008
68	65	Xu Lab	1705015
65	\N	\N	3
66	\N	\N	4
67	\N	Left Wing	1705016
65	\N	Khulna	1705017
408	515	dffrgeb	5
\.


--
-- Data for Name: persons; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: psychiatrist_award; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.psychiatrist_award (psychiatrist_id, award_id) FROM stdin;
\.


--
-- Data for Name: psychiatrist_degree; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.psychiatrist_degree (psychiatrist_id, degree_id) FROM stdin;
\.


--
-- Data for Name: psychiatrist_disease; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.psychiatrist_disease (psychiatrist_id, disease_id) FROM stdin;
1705044	1
1705045	1
\.


--
-- Data for Name: psychiatrists; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.psychiatrists (psychiatrist_id, is_verified, available_times, certificate_id, fee) FROM stdin;
1705002	t	sometimes	BMDC_A_47808	\N
1705044	t	always	BMDC_A_70777	\N
1705045	f	never	swfewfgewg	\N
\.


--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: review_board_member; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.review_board_member (board_member_id, joined_as_board_member) FROM stdin;
1705045	2022-08-08
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, name) FROM stdin;
\.


--
-- Data for Name: test_question; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.test_question (test_id, question_id, is_approved, pending_delete) FROM stdin;
1	1	t	f
1	2	t	f
1	3	t	f
1	4	t	f
1	5	t	f
1	6	t	f
1	7	t	f
1	8	t	f
1	9	t	f
1	10	t	f
1	11	t	f
1	12	t	f
1	13	t	f
2	14	t	f
2	15	t	f
2	16	t	f
2	17	t	f
2	18	t	f
2	19	t	f
2	20	t	f
2	21	t	f
3	22	t	f
3	23	t	f
3	24	t	f
3	25	t	f
3	26	t	f
\.


--
-- Data for Name: test_result_disease; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.test_result_disease (test_result_id, disease_id) FROM stdin;
7	1
75	1
\.


--
-- Data for Name: test_results; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Consultation_request_consultation_request_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Consultation_request_consultation_request_id_seq"', 1, false);


--
-- Name: awards_award_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.awards_award_id_seq', 1, false);


--
-- Name: consultation_request_consultation_request_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.consultation_request_consultation_request_id_seq', 3, true);


--
-- Name: counselling_suggestion_counsel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.counselling_suggestion_counsel_id_seq', 2, true);


--
-- Name: degrees_degree_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.degrees_degree_id_seq', 1, false);


--
-- Name: diseases_disease_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.diseases_disease_id_seq', 5, true);


--
-- Name: file_requests_file_request_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.file_requests_file_request_id_seq', 1, false);


--
-- Name: file_uploads_file_upload_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.file_uploads_file_upload_id_seq', 1, false);


--
-- Name: options_option_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.options_option_id_seq', 134, true);


--
-- Name: persons_person_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.persons_person_id_seq', 5, true);


--
-- Name: questions_question_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.questions_question_id_seq', 30, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 1, false);


--
-- Name: test_results_test_result_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.test_results_test_result_id_seq', 82, true);


--
-- Name: tests_test_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tests_test_id_seq', 3, true);


--
-- Name: Consultation_request Consultation_request_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Consultation_request"
    ADD CONSTRAINT "Consultation_request_pkey" PRIMARY KEY (consultation_request_id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: answer answer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answer
    ADD CONSTRAINT answer_pkey PRIMARY KEY (test_result_id, option_id);


--
-- Name: awards awards_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.awards
    ADD CONSTRAINT awards_pkey PRIMARY KEY (award_id);


--
-- Name: consultation_request consultation_request_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultation_request
    ADD CONSTRAINT consultation_request_pkey PRIMARY KEY (consultation_request_id);


--
-- Name: counselling_suggestion counselling_suggestion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.counselling_suggestion
    ADD CONSTRAINT counselling_suggestion_pkey PRIMARY KEY (counsel_id);


--
-- Name: degrees degrees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.degrees
    ADD CONSTRAINT degrees_pkey PRIMARY KEY (degree_id);


--
-- Name: diseases diseases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diseases
    ADD CONSTRAINT diseases_pkey PRIMARY KEY (disease_id);


--
-- Name: file_requests file_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_requests
    ADD CONSTRAINT file_requests_pkey PRIMARY KEY (file_request_id);


--
-- Name: file_uploads file_uploads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_uploads
    ADD CONSTRAINT file_uploads_pkey PRIMARY KEY (file_upload_id);


--
-- Name: options options_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.options
    ADD CONSTRAINT options_pkey PRIMARY KEY (option_id);


--
-- Name: patients patients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_pkey PRIMARY KEY (patient_id);


--
-- Name: persons persons_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.persons
    ADD CONSTRAINT persons_pkey PRIMARY KEY (person_id);


--
-- Name: psychiatrist_award psychiatrist_award_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.psychiatrist_award
    ADD CONSTRAINT psychiatrist_award_pkey PRIMARY KEY (psychiatrist_id, award_id);


--
-- Name: psychiatrist_degree psychiatrist_degree_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.psychiatrist_degree
    ADD CONSTRAINT psychiatrist_degree_pkey PRIMARY KEY (psychiatrist_id, degree_id);


--
-- Name: psychiatrist_disease psychiatrist_disease_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.psychiatrist_disease
    ADD CONSTRAINT psychiatrist_disease_pkey PRIMARY KEY (psychiatrist_id, disease_id);


--
-- Name: psychiatrists psychiatrists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.psychiatrists
    ADD CONSTRAINT psychiatrists_pkey PRIMARY KEY (psychiatrist_id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (question_id);


--
-- Name: review_board_member review_board_member_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review_board_member
    ADD CONSTRAINT review_board_member_pkey PRIMARY KEY (board_member_id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: test_question test_question_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_question
    ADD CONSTRAINT test_question_pkey PRIMARY KEY (test_id, question_id);


--
-- Name: test_result_disease test_result_disease_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_result_disease
    ADD CONSTRAINT test_result_disease_pkey PRIMARY KEY (test_result_id, disease_id);


--
-- Name: test_results test_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_results
    ADD CONSTRAINT test_results_pkey PRIMARY KEY (test_result_id);


--
-- Name: tests tests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tests
    ADD CONSTRAINT tests_pkey PRIMARY KEY (test_id);


--
-- Name: Consultation_request Consultation_request_test_result_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Consultation_request"
    ADD CONSTRAINT "Consultation_request_test_result_id_fkey" FOREIGN KEY (test_result_id) REFERENCES public.test_results(test_result_id);


--
-- Name: answer answer_option_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answer
    ADD CONSTRAINT answer_option_id_fkey FOREIGN KEY (option_id) REFERENCES public.options(option_id);


--
-- Name: answer answer_test_result_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answer
    ADD CONSTRAINT answer_test_result_id_fkey FOREIGN KEY (test_result_id) REFERENCES public.test_results(test_result_id);


--
-- Name: counselling_suggestion counselling_suggestion_psychiatrist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.counselling_suggestion
    ADD CONSTRAINT counselling_suggestion_psychiatrist_id_fkey FOREIGN KEY (psychiatrist_id) REFERENCES public.psychiatrists(psychiatrist_id);


--
-- Name: counselling_suggestion counselling_suggestion_test_result_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.counselling_suggestion
    ADD CONSTRAINT counselling_suggestion_test_result_id_fkey FOREIGN KEY (test_result_id) REFERENCES public.test_results(test_result_id);


--
-- Name: file_requests file_requests_psychiatrist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_requests
    ADD CONSTRAINT file_requests_psychiatrist_id_fkey FOREIGN KEY (psychiatrist_id) REFERENCES public.psychiatrists(psychiatrist_id);


--
-- Name: file_uploads file_uploads_file_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_uploads
    ADD CONSTRAINT file_uploads_file_request_id_fkey FOREIGN KEY (file_request_id) REFERENCES public.file_requests(file_request_id);


--
-- Name: file_uploads file_uploads_uploader_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_uploads
    ADD CONSTRAINT file_uploads_uploader_id_fkey FOREIGN KEY (uploader_id) REFERENCES public.patients(patient_id);


--
-- Name: review_board_member fk_member_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review_board_member
    ADD CONSTRAINT fk_member_id FOREIGN KEY (board_member_id) REFERENCES public.psychiatrists(psychiatrist_id);


--
-- Name: options options_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.options
    ADD CONSTRAINT options_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(question_id);


--
-- Name: patients patients_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.persons(person_id);


--
-- Name: psychiatrist_award psychiatrist_award_award_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.psychiatrist_award
    ADD CONSTRAINT psychiatrist_award_award_id_fkey FOREIGN KEY (award_id) REFERENCES public.awards(award_id);


--
-- Name: psychiatrist_award psychiatrist_award_psychiatrist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.psychiatrist_award
    ADD CONSTRAINT psychiatrist_award_psychiatrist_id_fkey FOREIGN KEY (psychiatrist_id) REFERENCES public.psychiatrists(psychiatrist_id);


--
-- Name: psychiatrist_degree psychiatrist_degree_degree_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.psychiatrist_degree
    ADD CONSTRAINT psychiatrist_degree_degree_id_fkey FOREIGN KEY (degree_id) REFERENCES public.degrees(degree_id);


--
-- Name: psychiatrist_degree psychiatrist_degree_psychiatrist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.psychiatrist_degree
    ADD CONSTRAINT psychiatrist_degree_psychiatrist_id_fkey FOREIGN KEY (psychiatrist_id) REFERENCES public.psychiatrists(psychiatrist_id);


--
-- Name: psychiatrist_disease psychiatrist_disease_disease_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.psychiatrist_disease
    ADD CONSTRAINT psychiatrist_disease_disease_id_fkey FOREIGN KEY (disease_id) REFERENCES public.diseases(disease_id);


--
-- Name: psychiatrist_disease psychiatrist_disease_psychiatrist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.psychiatrist_disease
    ADD CONSTRAINT psychiatrist_disease_psychiatrist_id_fkey FOREIGN KEY (psychiatrist_id) REFERENCES public.psychiatrists(psychiatrist_id);


--
-- Name: psychiatrists psychiatrists_psychiatrist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.psychiatrists
    ADD CONSTRAINT psychiatrists_psychiatrist_id_fkey FOREIGN KEY (psychiatrist_id) REFERENCES public.persons(person_id);


--
-- Name: test_question test_question_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_question
    ADD CONSTRAINT test_question_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(question_id);


--
-- Name: test_question test_question_test_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_question
    ADD CONSTRAINT test_question_test_id_fkey FOREIGN KEY (test_id) REFERENCES public.tests(test_id);


--
-- Name: test_result_disease test_result_disease_disease_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_result_disease
    ADD CONSTRAINT test_result_disease_disease_id_fkey FOREIGN KEY (disease_id) REFERENCES public.diseases(disease_id);


--
-- Name: test_result_disease test_result_disease_test_result_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_result_disease
    ADD CONSTRAINT test_result_disease_test_result_id_fkey FOREIGN KEY (test_result_id) REFERENCES public.test_results(test_result_id);


--
-- Name: test_results test_results_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_results
    ADD CONSTRAINT test_results_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(patient_id);


--
-- Name: test_results test_results_test_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_results
    ADD CONSTRAINT test_results_test_id_fkey FOREIGN KEY (test_id) REFERENCES public.tests(test_id);


--
-- Name: test_results test_results_verifier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_results
    ADD CONSTRAINT test_results_verifier_id_fkey FOREIGN KEY (verifier_id) REFERENCES public.psychiatrists(psychiatrist_id);


--
-- Name: tests tests_psychiatrist_id_of_added_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tests
    ADD CONSTRAINT tests_psychiatrist_id_of_added_by_fkey FOREIGN KEY (psychiatrist_id_of_added_by) REFERENCES public.psychiatrists(psychiatrist_id);


--
-- PostgreSQL database dump complete
--

