@import url('https://fonts.googleapis.com/css?family=Montserrat');





nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
    height: 100%;
}
.nav-links {
    display: flex;
    padding-left: 0%;
    /* margin-left: 5%; */
    margin-right: 5%;
    margin-top: 12%;
    list-style: none;
    width: 100%;
}
.nav-links li {
    position: relative;
    padding-right: 12%;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* background-color: red; */
}
.nav-links li::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: -2px;
    left: 0;
    /* padding-left: 6rem; */
    background-color: rgb(88, 88, 230);
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: top left;
    transition: all 0.3s ease-in-out 0s;
}
.nav-links li:hover {
    color: rgb(62, 62, 221);
    cursor: pointer;
}
.nav-links li:hover::after {
    visibility: visible;
    transform: scaleX(0.6);
}
.nav-right {
    justify-self: flex-end;
    /* margin-top: 2vh; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: right;
    font-weight: bold;
    font-size: 0.8rem;
}

.header-logo{
    height: 90%;
    width: 70%;
}

.header{
    height: 20%;
    display: flex;
}
.header-right{
    display: flex;
    flex-direction: column;
}

.login-btn{
    margin-left: 70%;
    margin-top: 7%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.login-btn:hover {
    color: rgb(62, 62, 221);
    cursor: pointer;
    font-weight: 200;
}

.rad-box {
    padding: 17px;
    padding-left: 34px;
    padding-right: 25px;
    margin-left: 5%;
    border-radius: 25px 0 25px 25px;
    margin-top: 5px;
    color: white;
    background-color: gray;
    width: 65%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.rad-box:hover {
  	cursor: pointer;
}


.rad-box-name {
    padding: 10px;
    padding-left: 34px;
    padding-right: 25px;
    margin-left: 40%;
    border-radius: 25px 25px 25px 25px;
    margin-top: 5px;
    color: white;
    background-color: gray;
    width: 30%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.rad-box-name:hover {
  	cursor: pointer;
}





.modal1, .overlay1 {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay1 {
    background: rgba(49,49,49,0.8);
}
.modal-content1 {
    position:relative;
    width: 30%;
    height: 20%;
    margin-left: 65%;
    margin-top: 8%;
    background: #dcbff3;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.modal-content2 {
    position:relative;
    width: 40%;
    margin-left: 55%;
    margin-top: 8%;
    background: #dcbff3;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.detailContainer1{
    margin-top: 6%;
    margin-left: 2%;
    word-wrap:break-word;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
}

.task{
    margin-top: 2%;
}

.task:hover{
    cursor: pointer;
}

.requestItem{
    display: flex;
    font-size: 0.8rem;
}

.leftItem{
    width: 70%;
    margin-right: 2.5%;
    word-wrap:break-word;
}

.rightItem{
    width: 25%;
    margin-left: 2.5%;
}

.icon1{
    font-size: 1.1rem;
}
.icon1:hover{
    cursor: pointer;
    background-color: #65e178;
}


.icon2{
    font-size: 1.1rem;
}
.icon2:hover{
    cursor: pointer;
    background-color: #e17165;
}
