@import url('https://fonts.googleapis.com/css?family=Montserrat');


.conatiner{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-top: 5%;
    margin-left: 8%;
}

.line-psy{
    width: 75%;
    margin-left: 0%;
    margin-top: 1%;
    margin-bottom: 2%;
}


.review-card {
    padding: 10px;
    /* background-color: rgba(134, 173, 224, 0.7); */
    background-color: rgb(226, 214, 214);
    border-radius: 10px;
    width: 80%;
    margin-bottom: 1%;
}
 
.title{
    display: flex;
}
.left{
    width:90%;
    display: flex;
}
.right{
    width: 10%;
    /* float: right;
    text-align: right; */
}
.rightElem{
    margin-left: 75%;
    text-align: center;
    /* border:1px solid black; */
    border-radius: 10px;
}
.rightElem:hover{
    background-color: rgb(174, 138, 138);
    cursor: pointer;
}

.link{
    margin-left: 0.5%;
    text-decoration: underline;
    
}
.link:hover{
    color:rgb(89, 16, 16);
    cursor: pointer;
}
.docName:hover{
    text-decoration: underline;
    cursor: pointer;
    size: 16px;
}


.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position:relative;
    width: 50%;
    height: 80%;
    /* line-height: 1.4; */
    background: #f1f1f1;
    /* padding: 14px 28px; */
    border-radius: 3px;
    /* max-width: 600px;
    min-width: 300px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.detailContainer{
    margin-top: 6%;
    margin-left: 2%;
    word-wrap:break-word;
}
.docNameModal{
    font-size: 1.1rem;
}
.flexbox{
    display: flex;
}
.leftFlex{
    width: 30%;

}
.rightFlex{
    width:68%;
    margin-left: 2%;
}
.middleFlex{
    width: 2%;
    border-right: 2px solid gray;
}
img{
    border-radius: 50%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 6%;
}
.designation{
    text-align: center;
    margin-bottom: 8%;
}
.cell{
    font-size: 0.8rem;
}

.optionContainer{
    display: flex;
    margin-top: 0.5%;
}

.radio{
    margin-left: 5%;
}

.btn-btn {
    background-color: #282c2e;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 70%;
    margin-top: 3%;
    /* margin: 4px 2px; */
    border-radius: 5px;
    cursor: pointer;
}
